table {
    width: 600px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    }
    td {
    border: 3px solid blue;
    }
    th {
    border: 3px solid blue;
    }
    tfoot {
    text-align: center;
    font-style: oblique;
    }
    h1 {
        color: saddlebrown;
    }
    img{
        display:block;
        margin:auto;
    }
    p{
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        color: darkred;
    }
    a{
        text-align: center;
    }
    #enlaceImagen{
        text-align: center;
    }